*{
    padding: 0%;
    margin: 0%;
}
body{
    background : linear-gradient(#ffffff,#ffffff);
    width:100%;
    height: 100%;
}
.admin_nav {
    background-image: linear-gradient(#ffffff, #fafd48);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: inset 1px 1px 10px #f3c957;
}

@media screen and (min-width: 768px) {
    /* Apply these styles for screens with a width of 768px and above */
    .admin_nav {
        padding-left: 20px;
        padding-right: 30px;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: inset 2px 2px 20px #f3c957;
    }
}

    .sidebar{
        border: 1px solid  #00ccff;
        padding-left: 2opx;
        margin-left: 20px;
        /* background: linear-gradient( rgb(219, 137, 29), black,black,rgb(219, 137, 29)); */
        box-shadow: inset 2px 2px 20px  #edf03c;
        background: #ffd92fe3;
        
    }
    .table{
        border-radius: 1px solid;
        font-family:Georgia, 'Times New Roman', Times, serif
    }


    
    .header{
        font-size: 20px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .page{
        border: 1px solid  #00ccff;
        padding-left: 20px;
        margin-left: 20px;
        box-shadow: inset 2px 2px 20px #ffd000;
        background: #ffffff;
    }

   
    .nav-bar{
        background-image: linear-gradient(#451049, #00ccff);
    
    }
    .nav-bar {
        background-image: linear-gradient(#451049, #00ccff);
    }
    
    /* Media query for screens smaller than 768px */
    @media (max-width: 768px) {
        .nav-bar {
            background-size: cover; /* Adjust background image size */
            padding: 10px; /* Adjust padding as needed */
        }
    }
    .user_sidebar{
        margin-top: 20px;
        padding-top: 20px;
        background: #040717;
    }
    .user_page{
        background: #040717;
        padding-left: 20px;
        margin-left: 20px;
    }
    .btn{
        padding-right: 20px;
        margin-right: 20px;
        color: #040717;
        box-shadow: 0 0 5px #040717;
        background : linear-gradient(#da8b15,#ffe11c);
        text-decoration: none;
        

    }
    .btn:hover{
        box-shadow: 0 0 5px  #171404;
        color: #f5e503;
    }
   
    


